<!-- <div class=" p-10 color-white">
  <span (click)="changeLangugage('en')" class="cursor-pointer">Eng</span>&nbsp;
  <span (click)="changeLangugage('hn')" class="cursor-pointer">Hindi</span>
</div> -->
<!-- <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle (click)="changeLangugage('en')" value="bold">Eng</mat-button-toggle>
  <mat-button-toggle (click)="changeLangugage('hn')" value="italic">Hindi</mat-button-toggle>
  <mat-button-toggle (click)="changeLangugage('ur')" value="underline">Urdu</mat-button-toggle>
</mat-button-toggle-group> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-sm-3">1</div>
    <div class="col-sm-3">2</div>
    <div class="col-sm-3">3</div>
  </div>
</div> -->
<router-outlet></router-outlet>
